---
---

@import "{{ site.theme }}";

#project_tagline {
    font-size: 16px;
}

#header-logo{
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    margin-right: 5px;
    width: 30px;
    height:30px;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

h1#project_title{
    display: inline-block;
}

table > thead > tr > th{
    height:2px;
    line-height:2px;
    padding:0;
}

#forkme_banner{display:none;}